<html>
    <head>
        <title>Django Gilrs blog</title>
    </head>

    <body>
        <div>
            <h1><a href="#">Django Gilrs Blog</a></h1>
        </div>

        <div>
            <p>Publicado em 29.07.2017, 12:11</p>
            <h2><a href="">Meu primeiro post</a><h2>
            <p>Um monte de texto aqui</p>
        </div>

        <div>
            <p>Publicado em 29.07.2017, 12:13</p>
            <h2><a href="">Meu segundo post</a><h2>
            <p>Um monte de texto aqui</p>
        </div>        
    </body>
</html>